nav {
  display: flex;
}

.nav-items {
  display: flex;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.movie {
  border: 1px solid black;
  width: 30%;
}

.movie-img {
  width: 100px;
  height: 100px;
}

.comments-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #d3d3d3;
  width: 95%;
  overflow: hidden;
  overflow-y: auto;
  margin-left: -100%;
}

.comments-popup-toggle {
  margin-left: 0;
}

.popup-window {
  border: 1px solid black;
  min-height: 90vh;
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.popup-image {
  display: flex;
  gap: 20px;
}

.movie-pop-image {
  width: 300px;
  height: 150px;
  justify-self: center;
}

.popup-image > span {
  font-size: 50px;
}

.popup-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  max-width: 500px;
  margin-top: 20px;
  justify-content: space-between;
}

.popup-list > li {
  width: 40%;
  font-size: 18px;
}

.comments-section {
  margin-top: 20px;
  width: 500px;
}

.all-comments > h3 {
  text-align: center;
}

.comment-text {
  margin-top: 20px;
}

.comment-text > p {
  margin-bottom: 10px;
  font-size: 18px;
}

.add-comment {
    margin-top: 10px;
    width: 500px;
}

.add-comment > h3 {
    text-align: center;
}

.comment-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.name-input {
    width: 200px;
    padding: 10px;
}

.comment-input {
    width: 250px;
    padding: 10px;
}

.comment-button {
    padding: 10px;
    width: 100px;
}

.movieId {
  display: none;
}