* {
  margin: 0;
  padding: 0;
}

.movies-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 3rem 0;
}

.titles-header {
  width: 61rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #d3d3d3;
  padding-bottom: 0.8rem;
}

.trending-title {
  color: #4925aa;
  width: 6rem;
  font-family: 'lato', sans-serif;
}

.trending-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  background-color: black;
}
